<!DOCTYPE html>
<html>
<head>
    <title>Categories</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>Category ID</th>
                <th>Name</th>
                <th>Parent Category ID</th>
            </tr>
        </thead>
        <tbody>
            {% for row in rows %}
            <tr>
                <td>{{ row[0] }}</td>
                <td>{{ row[1] }}</td>
                <td>{{ row[2] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
